* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/id/1471951322/es/vector/houseplants.jpg?s=612x612&w=0&k=20&c=X4rwwIRdH1RVuNUIpDdWKJkuMEfuM0WRMZBT1lRV64Q=);
}


.nav-logo {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    left: 30px;
}

.nav-logo-img {
    width: 270px;
    height: 150px;
    opacity: 0.3;
    border-radius: 50%;
    padding-right: 100px;
    padding-bottom: 30px;
}

.nav-logo-txt {
    color: whitesmoke;
    background-color: hsl(118, 40%, 45%);
    width: 200px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 115px;
    right: 250px;
    box-shadow: 8px 5px 9px darkolivegreen;
}

.nav-logo a {
    text-decoration: none;
}

.header-nav {
    
}

.nav-links {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    bottom: 70px;
    margin-right: 40px;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: 800;
}


.header {
    background-color: hsl(119, 67%, 29%);
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    
}

.nav-links li a:hover {
    color:hsl(30, 100%, 50%);
    text-shadow: 1px 3px 1px whitesmoke;
    transition-duration: 300ms;

}

.banner {
    background: url(./images/vivero-forestal-1.jpg)no-repeat;
    height: 550px;
    background-size: cover;
    image-rendering: high-quality;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1.5px solid hsl(119, 71%, 16%);
}   

.header-title {
    margin-left: 38px;
    color: whitesmoke;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 4px 7px 2px hsl(30, 100%, 50%);
}

.header-txt-1 {
    margin-left: 30px;
    color: whitesmoke;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 35px;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 2px 2px hsl(30, 100%, 50%);
}

.header-txt-2 {
    margin-left: 30px;
    color: whitesmoke;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 40px;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 4px 2px hsl(30, 100%, 50%);
    
}

.header-title-inside {
    margin-left: 50px;
}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 10, 1);
    height: 900px;
    opacity: 0.95;
}

.title-section-1 {
    text-align: center;
    margin-bottom: 30px;

}

.title-section-1 h1 {
    font-family: "Rubik Burned", serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    color: hsl(30, 100%, 50%);
    font-size: 40px;
    
}

.text-section-1 {
    text-align: center;
}


.text-section-1 h2 {
    color: whitesmoke;
    font-size: 30px;
}

.text-section-1 p {
    color: whitesmoke;
    font-size: 35px;
    font-family: "Birthstone", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(30, 100%, 50%);
}

.icons-section-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: hsl(30, 100%, 50%);
}

.icons-section-2 h3 {
    color: rgb(1, 10, 1);
    font-family: "Allerta Stencil", serif;
    font-weight: 400;
    font-style: normal;
    
}

.icon-img-section-2 {
    width: 70px;
    height: 70px;
}

.icons-title-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*.icons-title-img::before {
    content: "|"; quiero poner una barra de seperación entre elementos
} */

.trees {
    height: 90px;
}

.title-trees {
    padding-bottom: 25px;
}

.footer {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(hsl(119, 67%, 29%), hsl(30, 100%, 50%), hsl(119, 67%, 29%));
    border-top: 1px solid hsl(119, 71%, 16%);
}

.footer-contact ul {
    display: grid;
    gap: 15px;
}

.footer a {
    text-decoration: none;
}

.footer li {
    list-style: none;

}

.footer-legal ul {
    display: grid;
    gap: 10px;
}

.footer-social-icons {
    display: flex;
    gap: 40px;
}

.footer ul li {
    font-size: 20px;
}

